body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: lightslategray;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}



