body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
  margin: 375px;
  color: white;
  background-color: lightslategray;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.button {
  display: inline-block;
  margin-left: 12px; 
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
}